// Glyphicons font path
$icon-font-path:        "../fonts/";

// Colors
$brand-primary: #27ae60;
$default:          #777;
$primary:          #337ab7;
$success:         #5cb85c;
$info:               #5bc0de;
$warning:          #f0ad4e;
$danger:            #d9534f;
$nt:                  #2f6f9f;
$code-string:      #c7254e;
$code-back:       #e8e8e8;

