.table {
	margin-bottom: 0;
}
/*
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th {
	background-color: #f0f0f0;
}
*/
.console-footer {
	margin-top: 20px;
}
.on-bottom-margin {
	margin-bottom: 20px;
}
.entry-button-block {
	border-top: solid 2px #ddd;
}
.under-line {
	border-bottom: solid 1px #dddddd;
}
.tab-header {
	margin-top: 15px;
}