.glyphicon {
	font-family:'Glyphicons Halflings'!important;
}
.console-container {
	position: relative;
	width: 100%;
	padding: 0 10px 10px 0;
}
.cdbt-title {
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 1em;
}
.console-menu {
	width: 100%;
	margin-top: 20px;
	margin-bottom: 1em;
}
.console-container .alert, .console-container .center-block, .console-container .nav {
	width: 99%;
}
.console-container .table {
	margin-bottom: 0;
}
.console-container .table>thead>tr>th, .console-container .table>tbody>tr>th, .console-container .table>tfoot>tr>th {
	background-color: #f0f0f0;
}
.console-container .table>thead>tr>th {
	text-align: center;
}
.current-table-schema {
	overflow: auto;
	width: 100%;
}
.current-table-schema table {
	width: 200%;
}
.current-table-schema table th {
	background-color: #eee!important;
}
.current-table-schema table th.cell-logical_name {
	width: 132px!important;
}
.current-table-schema th.cell-type_format {
	width: 132px!important;
}
@-moz-document url-prefix() { 
	.current-table-schema table {
		border-collapse: separate!important;
		border-spacing: 0px!important;
	}
	.current-table-schema table thead th, .current-table-schema table thead td {
		border-width: 0 1px 1px 0!important;
	}
	.current-table-schema table thead th:last-child, .current-table-schema table thead td:last-child {
		border-width: 0 0 1px 0!important;
	}
	.current-table-schema table tbody th, .current-table-schema table tbody td {
		border-width: 1px 1px 0 0!important;
	}
	.current-table-schema table tbody th:last-child, .current-table-schema table tbody td:last-child {
		border-width: 1px 0 0 0!important;
	}
}
.current-table-shortcodes {
	margin-top: 24px;
}
.current-table-shortcodes h4 {
	font-size: 16px;
	font-weight: 700;
}
.current-table-shortcodes li {
	margin-left: 1em;
	margin-bottom: .75em;
}
.current-table-shortcodes li>label {
	display: block;
	font-weight: 500;
}
.cdbt-shortcode, .example-sql, .confirm-sql {
	margin-left: .75em;
	padding: 2px 4px 4px;
	font-size: 90%;
	color: #ab254e;
	background-color: #f0f0f0;
	white-space: nowrap;
	border: solid 1px #ddd;
	border-radius: 4px;
}

.cdbt-shortcode.full-code, .confirm-sql {
	display: none;
	white-space: -moz-pre-wrap;
	white-space: pre-wrap;
	word-wrap: break-word;
}
.cdbt-shortcode.shortest-code {
	display: inline-block;
}
.example-sql, .confirm-sql {
	display: block;
	margin-right: .75em;
}
.confirm-sql {
	overflow-x: auto;
	margin-bottom: .75em;
}
.prev-name, .prev-comment, .prev-engine {
	display: none;
	padding-top: 9px;
	color: #777;
}
.on-bottom-margin {
	margin-bottom: 20px;
}
.under-line {
	border-bottom: solid 1px #dddddd;
}
.console-container .tab-header {
	margin-top: 15px;
}
.console-container .tab-pane h3 {
	margin-left: .3em;
	font-size: 16px;
	font-weight: 700;
}
.console-container .dashboard-title {
	font-size: 16px;
	font-weight: 700;
}
.console-container .tab-pane .control-label {
	font-size: 14px;
	font-weight: 500;
	text-align: left;
}
select#cdbt_incorporate_table {
	height: 34px;
}
select#cdbt_db_engine {
	width: 100px;
	height: 34px;
}
.console-container footer .modal-kicker {
	position: absolute;
	display: none;
}
.sql-editor, .sql-preset {
	margin: 1em 1em;
	text-align: right;
}
.sql-editor .active, .sql-preset .active {
	color: #468847;
	background-color: #dff0d8!important;
	border-color: #3c763d;
}
.sql-preset-label {
	text-align: left;
	margin-bottom: 4px;
	margin-bottom: -9px;
	margin-left: 20px;
	font-size: 12px;
	color: #888;
}
.view_role-helper, .input_role-helper, .edit_role-helper, .admin_role-helper {
	clear: both;
	padding: .3em;
	color: #3a87ad;
}
.current-exists-tables td {
	padding: auto auto;
	line-height: 51px;
	text-align: center;
	vertical-align: middle;
}
.current-exists-tables td:nth-child(1), .current-exists-tables td:nth-child(3) {
	text-align: right;
}
.current-exists-tables td:nth-child(2) {
	text-align: left;
}
.current-exists-tables td button.active[id$="choise-current-table"] {
	color: #468847;
	background-color: #dff0d8!important;
	border-color: #3c763d;
}
.binary-file {
	font-size: .86em;
}
.text-collapse {
	cursor: pointer;
}
.text-collapse:hover {
	color: #2a6496;
	text-decoration: underline;
}
.cdbt-shortcode + .text-info {
	margin: 4px 10px;
}
.other-note {
	margin-top: 26px;
}
.navbar-inherit {
	display: inline-block;
	margin-left: 9px;
	vertical-align: middle;
}
.list-adjust {
	margin-top: 14px;
}
.search-hits {
	display: none;
	top: 14px;
	opacity: 1;
}
.search-hits.tooltip.left .tooltip-arrow {
	border-left-color: #5bc0de;
}
.search-hits .tooltip-inner {
	background-color: #5bc0de;
}
.table th {
	position: relative;
}
.sort-switch {
	position: relative;
	display: inline-block;
	right : -6px;
}

/* table creator style */
.mysql-table-creator p.description-tips {
	width: 900px;
	margin: .4em auto;
}
.mysql-table-creator .modal-lg {
	width: 960px;
	min-height: 100%;
	top: 100px;
}
.mysql-table-creator .modal-body {
	padding: 0 2px;
}
.mysql-table-creator ul li, .ui-state-highlight {
	clear: both;
	margin-top: 0;
	margin-bottom: 0;
	width: 932px;
	height: 2.4em;
	padding-top: 3px;
}
.ui-state-highlight {
	background: #f1f1f1;
	border: dashed 2.5px #d0d0d0;
}
.mysql-table-creator ul li.index-row {
	height: 1.8em;
}
.mysql-table-creator ul li label {
	display: block;
	float: left;
	margin-right: 2px;
	width: 82px;
	text-align: center;
	cursor: default;
}
.mysql-table-creator ul li.tbl_cols {
	background-color: #f4f4f4;
	line-height: 1.4em;
	border-bottom: dotted 1px #ddd;
	vertical-align: middle;
}
.mysql-table-creator ul li.tbl_cols.preset {
	background-color: #fff;
}
.mysql-table-creator ul li.tbl_cols.addnew {
	background-color: #ffffee;
}
.mysql-table-creator ul li.tbl_cols.addnew:hover {
	background-color: #ffffcc;
}
.mysql-table-creator ul li.index-row label {
	max-height: 1.5em;
	background: #f1f1f1;
	border: solid 1px #ddd;
	font-size: .80em;
	font-weight: 400;
	color: #666;
	white-space: nowrap;
	overflow: hidden;
}
.mysql-table-creator ul li.index-row label.null, .mysql-table-creator ul li label.delete-row, .mysql-table-creator ul li label.add-row {
	background: transparent;
	border: none;
	line-height: 1.4em;
	width: 41px;
	vertical-align: middle;
}
.mysql-table-creator ul li label.handler {
	margin-top: 4px;
	width: 41px;
	line-height: 1.4em;
	cursor: move;
	vertical-align: middle;
}
.mysql-table-creator ul li label.delete-row .btn-sm, .mysql-table-creator ul li label.add-row .btn-sm {
	margin-top: 5px;
	padding: 2.5px 7.5px;
	font-size: 10px;
}
.mysql-table-creator ul li label>input, .mysql-table-creator ul li label>select {
	max-width: 100%; /* 82px */
	font-size: .86em;
	font-weight: 300;
}
.mysql-table-creator input[disabled="disabled"], .mysql-table-creator select[disabled="disabled"] {
	background-color: #fafafa;
	color: #888;
}
.num-disabled {
	color: #888;
	cursor: default;
}
.mysql-table-creator ul li label.w-xl { width: 123px; }
.mysql-table-creator ul li label.w-lg { width: 102px; }
.mysql-table-creator ul li label.w-sm { width: 62px; }
.mysql-table-creator ul li label.w-xs { width: 41px; }