.table {
	margin-bottom: 0;
}
/*
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th {
	background-color: #f0f0f0;
}
*/
.console-footer {
	margin-top: 20px;
}
.on-bottom-margin {
	margin-bottom: 20px;
}
.entry-button-block {
	border-top: solid 2px #ddd;
}
.under-line {
	border-bottom: solid 1px #dddddd;
}
.tab-header {
	margin-top: 15px;
}
.navbar-inherit {
	display: inline-block;
	margin-left: 9px;
	vertical-align: middle;
}
.list-adjust {
	margin-top: 14px;
}
.edit-adjust {
	position: relative;
	top: 15px;
	left: 219px;
}
.search-hits {
	top: 14px;
	opacity: 1;
}
.search-hits.tooltip.left .tooltip-arrow {
	border-left-color: #5bc0de;
}
.search-hits .tooltip-inner {
	background-color: #5bc0de;
}
.table th {
	position: relative;
}
.sort-switch {
	position: relative;
	display: inline-block;
	right : -6px;
}
