.clock-mark {
  margin-top: 5px;
  margin-left: 1em;
  font-size: 20px;
  font-weight: 700;
}

.time-separater {
  position: relative;
  top: -4px;
  margin: 0 0;
  font-size: 20px;
  font-weight: 700;
}