
body {
  background-color: transparent!important;
}

h3, .h3 {
  font-size: 22px!important;
}

h4.title {
  font-size: 20px!important;
  padding-bottom: 2px;
  border-bottom: 1px dotted #ccc;
}

ol, ul {
  margin-bottom: 0;
}

/*
dd:last-child, li:last-child {
  margin-bottom: 2px;
}
*/

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
  background-color: #f0f0f0;
}

.navbar-inner-tab {
  margin-top: 1em;
  margin-bottom: 0px;
}

code, kbd, pre, samp {
  font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}

#message {
  display: none;
  
  ul {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

code {
  padding: 2px 4px;
  font-size: 90%;
  color: $code-string;
  background-color: $code-back;
  border-radius: 4px;
}

pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.42857143;
  color: $code-string;
  word-break: break-all;
  word-wrap: break-word;
  background-color: $code-back;
  border: 1px solid #ccc;
  border-radius: 4px;
}

fieldset>label {
  font-weight: 400!important;
}

.inline-help {
  margin-top: 7px;
  margin-bottom: 8px;
  text-indent: 1.5em;
}

.label-default {
  background-color: $default;
}
.label-primary {
  background-color: $primary;
}
.label-success {
  background-color: $success;
}
.label-info {
  background-color: $info;
}
.label-warning {
  background-color: $warning;
}
.label-danger {
  background-color: $danger;
}

.nt {
  color: $nt;
}

.input-mini {
  width: 100px;
}

a.note-link {
  font-size: 9px;
  text-decoration: none;
  color: $default;
  
  span {
    font-size: 16px;
    margin-top: 2px;
  }
}

.foot-note {
  margin-top: 10px;
  margin-left: -1em;
  font-size: 85%;
  
  li {
    color: $default;
    margin: 0 0 10px;
  }
  
  li span {
    font-size: 15px;
  }
}

div.plugin-meta {
  position: absolute;
  top: 23px;
  right: 28px;
  font-size: 14px;
}

.sql-support-button {
  position: absolute;
  top: 10px;
  right: 15px;
}

.operate-table-btn-group {
  margin-right: 10px;
}

.operate-data-btn-group {
  margin-left: 10px;
}

.cdbt-repeater-row {
  
  td:first-child {
    position: relative;
    
    .cdbt-repeater-left-main, .cdbt-repeater-left-sub {
      position: absolute;
      top: 2px;
      left: 28px;
    }
    
    .cdbt-repeater-left-sub {
      top: 26px;
      overflow: hidden;
    }
  }
  
  &:hover {
    border: solid 2px #e75353;
    border-width: 2px 2px 2px 1px;
    
    &:first-child {
      border-top-width: 2px;
    }
  }
}

nav#operation-navbar {
  margin-top: 1em;
  margin-bottom: 1em;
}

.table-responsive>strong {
  display: block;
  padding: 5px;
}

.sub-description-title {
  display: inline-block;
  margin-left: 5px;
  margin-right: 8px;
  margin-bottom: 1em;
}

.checkbox.highlight, .checkbox-custom.highlight {
  background-color: transparent;
}

